# ignore node_modules anywhere in the project
**/node_modules

# ignore credentials
**/credentials/*
!credentials/sample*

# ignore config
**/config/*
!config/sample*

# ignore published files
publish/*